In [33]:
import pandas as pd

In [34]:
df_municipios = pd.read_csv('Dados/HIST_PAINEL_COVIDBR_28nov2020.csv', sep=";", encoding="ANSI")

In [35]:
chosen_cities = [
    'São José dos Campos',
    'Taubaté',
    'Jacareí',
    'Caçapava',
    'Pindamonhangaba'
]

In [53]:
df_municipios.groupby([df_municipios['municipio'] == 'São José dos Campos', df_municipios['municipio'] == 'Taubaté', df_municipios['municipio'] == 'Jacareí', df_municipios['municipio'] == 'Caçapava', df_municipios['municipio'] == 'Pindamonhangaba'])['municipio','obitosAcumulado'].sum()

                                                   obitosAcumulado
municipio municipio municipio municipio municipio
False     False     False     False     False             62974358
                                        True                  5283
                              True      False                 6088
                    True      False     False                16830
          True      False     False     False                16232
True      False     False     False     False                54784